/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font */
@font-face {
    font-family: "vazir";
    src: url('./assets/fonts/Vazir.eot');
    src: url('./assets/fonts/Vazir-Light.eot') format('FontName-opentype'),
         url('./assets/fonts/Vazir.woff') format('woff'),
         url('./assets/fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* root */
:root {
    --color-primary: rgb(230, 18, 61);
    --color-secondary: rgb(166, 52, 137);
    --color-secondary-dark: rgb(146, 28, 142);
    --color-primary-light: rgb(239, 57, 78);
    --color-third: rgb(249, 168, 37);
    --color-white: rgb(255, 255, 255);
    --color-font: rgb(0, 0, 0);
    --color-border: rgb(235, 232, 232);
    --color-fresh: rgb(57,174,0);
    --color-digiclub-light: #35a6c8;
    --color-digiclub-dark: #007295;
    --color-bgc-footer: #3c4b6d;
    --spacing-base: 4px;
}

/* style mobile first */
html {
    font-size: 62.5%;
}
body {
    font-family: "vazir";
}
.dekstop-heading {
    display: none;
}
.heading-one, .heading-two, .heading-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 1.5rem 0;
    padding-bottom: 1.3rem;
    border-bottom: 1px solid var(--color-border) ;
    margin-left: calc(5 * var(--spacing-base));
    margin-right: calc(5 * var(--spacing-base));
}
.heading-one h1 {
    color: var(--color-primary);
}
.heading-icon-arrow {
    display: flex;
    align-items: center;
}
.heading-icon-location {
    display: flex;
    align-items: center;
}
.fa {
    font-size: 2rem;
    cursor: pointer;
}
.fa-arrow-right-to-bracket {
    transform: rotate(180deg);
}
.fa-sort-asc {
    transform: rotate(-90deg);
    margin-left: 1rem;
}
.heading-search {
    position: relative;
    flex: 0.7;
    padding: 1.5rem;
    outline: none;
    border: none;
    background-color: var(--color-border);
    border-radius: 8px;
}
.search-placeholder {
    position: absolute;
    margin-right: 1rem;
    opacity: 0.3;
}
.search-placeholder .fa {
    padding-left: 1rem;
}
.heading-icon-arrow p {
    padding-right: 1rem;
}
.heading-icon-location .fa {
    padding-left: 1rem;
    color: var(--color-third);
}
.heading-three {
    margin-bottom: 0;
    border: none;
}

/* advertise-section */
.advertising {
    height: 268px;
    object-fit: cover;
}
.advertising img {
    width: 100%;
    height: 100%;
}

/* hero-section */
.digi {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.digi:hover {
    cursor: pointer;
}
.digi img {
    width: 52px;
    height: 52px;
}
.digi p {
    padding-top: 0.6rem;
    font-size: 1.1rem;
}
.digi-more {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    background-color: var(--color-border)
}
.digi-service {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    margin-top: 2.5rem;
    row-gap: 2rem;
}

/* amazing-section */
.offer-section {
    height: 260px;
    background-color: var(--color-primary-light);
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}
.offer-head {
    width: 145px;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.3rem;
    margin-left: 2rem;
}
.amazing-p {
    width: 92px;
    height: 77px;
    margin-bottom: 1rem;
}
.amazing-img {
    width: 120px;
    height: 115px;
    margin-bottom: 0.6rem;
}
.offer-head a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
}
.offer-item {
    width: 154px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border-radius: 3px;
    margin-left: 0.5rem;
    padding: 0 2rem;
}
.border-radius {
    border-radius: 3px 8px 8px 3px;
}
.offer-img {
    width: 130px;
    height: 130px;
    margin-bottom: 0.5rem;
}
.offer-title {
    width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.offer-badge {
    display: inline-block;
    background-color: var(--color-primary-light);
    color: var(--color-white);
    border: 2px solid var(--color-primary-light);
    border-radius: 32px;
    padding: 0 0.5rem;
}
.offer-badge-two {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-secondary);
    border-radius: 32px;
    padding: 0 0.5rem;
}
.offer-price {
    display: flex;
    align-items: center;
}
.offer-price p {
    margin-right: 0.2rem;
}
.org-price {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    text-decoration: line-through;
    font-size: 1.2rem;
    margin-top: 2rem;
}

/* market-amazing */
.market-amazing-section {
    width: 335px;
    height: 150px;
    border-radius: 15px;
    background: rgb(235,235,235);
    background: linear-gradient(40deg, rgba(235,235,235,1) 31%, rgba(227,227,227,1) 50%); 
    margin-right: calc(5 * var(--spacing-base));
    margin-left: calc(5 * var(--spacing-base));
    margin-top: 1rem;
}
.market-amazing-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    padding-top: 1.5rem;
}
.market-amazing-title :first-child {
    width: 40px;
    height: 38px;
    padding-left: 1rem;
}
.market-amazing-title :last-child {
    width: 190px;
    height: 20px;
}
.market-amazing-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.display {
    display: none;
}
.market-amazing-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2rem;
}
.market-amazing-product {
    position: relative;
}
.market-amazing-product img{
    width: 68px;
    height: 69px;
    border-radius: 100%;
    margin-left: 0.8rem;
}
.market-amazing-badge {
    position: absolute;
    bottom: 0;
    right: 0;
}
.market-amazing-btn {
    width: 44px;
    height: 44px;
    background-color: var(--color-white);
    border-radius: 100%;
    margin-right: 2rem;
    cursor: pointer;
    position: relative;
}
.fa-arrow-left {
    color: var(--color-fresh);
    position: absolute;
    top: 11px;
    left: 13.5px;
}

/* partner-ship */
.partner-ship {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: calc(5 * var(--spacing-base));
    margin-left: calc(5 * var(--spacing-base));
    margin-top: 1rem;
}
.partner-img {
    width: 160px;
    height: 120px;
    border-radius: 15px;
    margin-top: 1rem;
    cursor: pointer;
}
/* category-group */
.category-section {
    margin-top: 3.5rem;
}
.category-section h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-weight: lighter;

}
.category-items {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: calc(5 * var(--spacing-base));
    text-align: center;
    margin-right: calc(5 * var(--spacing-base));
    margin-left: calc(5 * var(--spacing-base));
    overflow: hidden;
}
.category-item img {
    width: 90px;
    height: 90px;
}
.category-item {
    cursor: pointer;
}
.category-item h3 {
    font-weight: normal;
}

/* swiper-section */
.swiper-section {
    margin-left: calc(5 * var(--spacing-base));
    margin-right: calc(5 * var(--spacing-base));
    margin-top: 5rem;
}
.swiper-section h2 {
    font-weight: lighter;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.swiper-items {
    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(7, 160px);
    overflow-x: auto;
    border: 1px solid var(--color-border);
    border-radius: 15px;
}
.swiper-item {
    border: 1px solid var(--color-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.swiper-item span {
    border-radius: 15px;
    margin-bottom: 1.5rem;
}
.swiper-item h4 {
    font-weight: lighter;
    font-size: 1.3rem;
}

/* digiplus-section */
.digiplus-section {
    margin-top: 3rem;
    background-color: var(--color-secondary);
    padding-bottom: 1rem;
}
.bg-plus {
    background-image: url("./assets/images/digiplus-new.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 355px;
}
.digiplus-image{
    padding-right: 3rem;
    padding-top: 2rem;
}
.bg-plus p {
    color: var(--color-white);
    font-size: 1.5rem;
    transform: translateX(-15rem);
}
.digiplus-signin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border: 1px solid var(--color-white);
    padding: 0.5rem;
    border-radius: 5px;
    transform: translateX(-22rem);
    margin-top: 1rem;
    transition: all 0.3s ease-in;
}
.digiplus-signin a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.3rem;
    position: relative;
    font-weight: bold;
    padding-right: 1rem;
}
.digiplus-signin i {
    color: var(--color-white);
    text-align: center;
    position: absolute;
    top: 0.5rem;
}
.digiplus-parts {
    background-color: var(--color-white);
    margin-right: calc(5 * var(--spacing-base));
    margin-left: calc(5 * var(--spacing-base));
    border-radius: 8px;
    padding-right: 1rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
}
.part-one {
    margin-bottom: 1rem;
}
.part-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part-title .fa-angle-left {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}
.part-title a {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 1.3rem;
    margin-left: 3rem;
    position: relative;
}
.part-title a span {
    position: absolute;
    top: 0;
    right: 7rem;
}
.part-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-icon span {
    font-size: 1.4rem;
}
.part-icon .fa {
    color: var(--color-secondary);
    margin-left: 1rem;
}
.part-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
    margin-top: 3rem;
}
.part-content img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* digiclub-section */
.digiclub-section {
    background: linear-gradient(76.02deg,var(--color-digiclub-light) 33.32%,var(--color-digiclub-dark) 71.55%),radial-gradient(21.29% 87.33% at 50% 50.67%,#7cf2f6 0,#35a6c8 100%);
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.digiclub-logo {
    padding-top: 2rem;
    padding-bottom: 1rem;
    transform: translateX(38px);
}
.digiclub-logo img {
    width: 230px;
    height: 30px;
}
.digiclub-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(5 * var(--spacing-base));
    margin-right: calc(5 * var(--spacing-base));
    background-color: var(--color-white);
    border-radius: 8px;
}
.lucky-draw, .missions, .awards {
    width: 105px;
    margin-top: 1.5rem;
}
.lucky-title, .missions-title, .awards-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lucky-title .fa, .missions-title .fa, .awards-title .fa {
    color: var(--color-digiclub-light);
    font-size: 1.5rem;
    margin: 1rem;
}
.lucky-title span, .missions-title span, .awards-title span {
    font-size: 1.2rem;
} 
.content-lucky, .content-missions, .content-awards {
    cursor: pointer;
}

/* best-section */
.best-section {
    margin-right: calc(5 * var(--spacing-base));
    margin-top: 3rem;
}
.best-items {
    display: grid;
    grid-template-rows: repeat(3, 86px);
    grid-template-columns: repeat(6, 280px);
    overflow-x: auto;
    scrollbar-width: none;
    gap: 1.5rem;
}
.best-product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.best-product-title h2 {
    font-weight: lighter;
    font-size: 1.7rem;
}
.best-product-title h2 .fa {
    color: var(--color-third);
    margin-right: 0.5rem;
}
.best-product-title a{
    text-decoration: none;
    color: var(--color-digiclub-light);
    font-size: 1.5rem;
    margin-left: calc(5 * var(--spacing-base));
}
.best-product-content {
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.best-product-content span {
    color: var(--color-digiclub-light);
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}
.best-product-content div p {
    font-size: 1.25rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 2rem;
}
.best-product-content img{
    width: 86px;
    height: 86px;
    margin-left: 1rem;
}

/* footer-section */
footer {
    border-top: 1px solid var(--color-border);
    margin-top: 4rem;
}
.footer-section {
    margin-top: 2rem;
    margin-left: calc(5 * var(--spacing-base));
    margin-right: calc(5 * var(--spacing-base));
}
.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icon img {
    width: 110px;
}
.footer-icon button{
    text-decoration: none;
    outline: none;
    appearance: none;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    text-align: center;
    background-color: var(--color-white);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icon button .fa {
    margin-right: 1rem;
    font-size: 1.2rem;
    opacity: 0.6;
}
.footer-icon button span {
    opacity: 0.6;
}
.support-footer {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    opacity: 0.8;
}
.newsroom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.3rem;
}
.together, .customer-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 3.5rem;
}
.together a, .customer-services a, .shopping-guid a  {
    text-decoration: none;
    color: var(--color-font);
    opacity: 0.6;
}
.together p, .customer-services p, .shopping-guid p {
    font-size: 1.4rem;
    opacity: 0.9;
}
.socialnet-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    opacity: 0.8;
}
.socialnet-footer h4 {
    font-size: 1.4rem;
}
.socialnet-footer i {
    font-size: 2.8rem;
    opacity: 0.6;
    cursor: pointer;
}
.form-footer {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-footer label div{
    border-radius: 8px;
    border: 1px solid var(--color-border);
}
.input-footer {
    text-decoration: none;
    outline: none;
    appearance: none;
    border: none;
    width: 270px;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 1.2rem;
}
.form-footer button {
    text-decoration: none;
    outline: none;
    appearance: none;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 1.4rem;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1rem;
}
.appdownload-footer {
    background-color: var(--color-bgc-footer);
    border-radius: 8px;
    margin-top: 4rem;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
}
.appdownload-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.appdownload-title img {
    width: 24px;
    margin-left: 1.5rem;
}
.appdownload-title h3 {
    font-size: 1.8rem;
    color: var(--color-white);
}
.appdownload-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
}
.appdownload-content img {
    border-radius: 5px;
    width: 142px;
    cursor: pointer;
}
.appdownload-more {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.appdownload-more a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.3rem;
}
.appdownload-more a .fa {
    font-size: 1.4rem;
}
.footer-description {
    border-top: 1px solid var(--color-border);
    padding-top: 3rem;
}
.description h1{
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}
.description p {
    font-size: 1.15rem;
    line-height: 2.2rem;
    opacity: 0.6;
}
.enemad {
    margin: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.enemad img{
    width: 95px;
    height: 95px;
    border: 1px solid var(--color-border);
    padding: 1rem;
    border-radius: 8px;
}

/* media query */
@media screen and (min-width: 1024px){
    .mobile-heading {
        display: none;
    }
    .dekstop-heading {
        display: block;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        padding-bottom: 1rem;
        padding-top: 0.2rem;
        padding-right: calc(5 * var(--spacing-base));
        padding-left: calc(5 * var(--spacing-base));
        position: sticky;
    }
    .top-header img {
        padding-left: 8rem;
        font-size: 2rem;
    }
    .heading-search {
        flex: 0.5;
        padding-right: 6rem;
        transform: translateX(27rem);
    }
    .search-placeholder {
        position: absolute;
        margin-right: 15rem;
    }
    .top-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;
    }
    .heading-icon {
        display: flex;
    }
    .fa-cart-shopping {
        margin-right: 2rem;
        margin-top: 1.2rem;
        text-align: center;
        
    }
    .cart-shopping {
        border-right: 1px solid var(--color-border);
        margin-right: 1.5rem;
    }
    .heading-icon-arrow {
        border: 1px solid var(--color-border);
        padding: 1rem 2rem;
        border-radius: 8px;
    }
    .heading-icon-arrow :last-child {
        border-right: 2px solid var(--color-font);
        padding-right: 0.5rem;
        font-size: 1.25rem;
    }
    .heading-icon-arrow :first-of-type {
        padding-left: 0.5rem;
        font-size: 1.4rem;
    }
    .heading-icon-arrow .fa {
        padding-right: 1rem;
        padding-left: 0;
        font-size: 2rem;
    }
    .bottom-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.5rem;
        font-size: 1.3rem;
    }
    .nav-group {
        display: flex;
    }
    .grouping {
        display: flex;
        border-left: 1px solid var(--color-border);
        padding-left: 1.3rem;
    }
    .grouping .fa {
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    .suggestion span:not(:last-child) {
        padding-left: 3rem;
    }
    .suggestion {
        display: flex;
        opacity: 0.7;
        border-left: 1px solid var(--color-border);
        padding-right: 1rem;
        padding-left: 1.3rem;
    }
    .suggestion span:hover, .grouping span:hover, .question span:hover {
        border-right: 2px solid var(--color-primary);
        cursor: pointer;
        padding-right: 0.5rem;
        transition: all 0.2s ease-out;
    }
    .question {
        display: flex;
        opacity: 0.7;
        padding-right: 1rem;
    }
    .question span {
        padding-left: 2rem;
    }
    .location {
        display: flex;
        opacity: 0.7;
    }
    .location:hover {
        cursor: pointer;
    }
    .location .fa {
        padding-left: 1.2rem;
        font-size: 1.5rem;
    }
    .advertising{
        height: 460px;
    }
    .digi-service {
        display: grid;
        grid-template-columns: repeat(8,minmax(0,1fr));
        margin-top: 3.5rem;
        row-gap: 2rem;
    }
    .market-amazing-section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 131rem;
        height: 102px;
        border-radius: 15px;
    }
    .display {
        display: block;
    }
    .market-amazing-title :first-child {
        width: 66px;
        height: 62px;
    }
    .market-amazing-title :last-child {
        width: 265px;
        height: 30px;
    }
    .market-amazing-product img {
        margin-right: 1rem;
    }
    .market-amazing-btn {
        width: 144px;
        height: 50px;
        border-radius: 32px;
        margin-right: 5rem;
        transition: all 0.3s ease-out;
    }
    .market-amazing-btn:hover {
        border-radius: 18px;
    }
    .arrow-before::before {
        content: "بیش از 100 کالا";
        font-size: 1.2rem;
        margin-left: 2.3rem;
        border-bottom:2px solid var(--color-fresh) ;
        padding-bottom: 1rem;
    }
    .partner-img {
        width: 315px;
        height: 235px;
    }
    .category-items {
        grid-template-columns: repeat(5, 25rem);
    }
    .category-item img {
        width: 170px;
        height: 170px;
    }
    .category-item h3 {
        font-size: 1.3rem;
    }
    .category-section h2 {
        font-size: 2.2rem;
    }
    .swiper-items {
        grid-template-columns: repeat(7, 186.8px);
    }
    .swiper-section h2 {
        font-size: 2.2rem;
    }
    .digiplus-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
        margin-right: calc(5 * var(--spacing-base));
        margin-left: calc(5 * var(--spacing-base));
        border-radius: 15px;
    }
    .bg-plus {
        width: 700px;
        margin-left: 1rem;
        border-radius: 0 15px 15px 0;
    }
    .bg-plus p {
        transform: translate(-20rem, -3.4rem);

    }
    .digiplus-parts {
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 0;
    }
    .part-content {
        padding-bottom: 2rem;
    }
    .part-content .display {
        margin-top: 3rem;
    }
    .digiplus-signin {
        transform: translate(-260px, -30px);
    }
    .digiclub-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: calc(5 * var(--spacing-base));
        margin-right: calc(5 * var(--spacing-base));
        border-radius: 15px;
    }
    .digiclub-logo {
        padding-top: 4rem;
        transform: translateX(100px);
    }
    .digiclub-logo img {
        display: inline-block;
        width: 400px;
        height: 35px;
    }
    .digiclub-content {
        margin-top: 2rem;
    }
    .content-lucky, .content-missions, .content-awards {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lucky-title, .missions-title, .awards-title {
        flex-direction: row;
        margin-right: 0.5rem;
    }
    .lucky-draw, .missions, .awards {
        width: 163.5px;
        margin-right: 1.5rem;
    }
    .lucky-title span, .missions-title span, .awards-title span {
        font-size: 1.4rem;
    } 
    .best-section {
        margin-left: calc(5 * var(--spacing-base));
        border: 1px solid var(--color-border);
        border-radius: 15px;
        padding: 2rem;
    }
    .best-product-title h2 {
        font-size: 2rem;
    }
    .support-footer {
        display: flex;
        align-items: center;
    }
    .support-footer :first-child {
        margin-left: 1rem;
        border-left: 2px solid var(--color-border);
        padding-left: 1rem;
    }
    .feature-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 4rem calc(5 * var(--spacing-base));
    }
    .feature-footer a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #000;
    }
    .feature-footer a p {
        opacity: 0.8;
        font-size: 1.2rem;
    }
    .shopping-guid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        line-height: 3.5rem;
        transform: translateY(-3.5rem);
    }
    .newsroom-footer {
        justify-content: space-between;
        width: 60%;
    }
    .together a, .customer-services a, .shopping-guid a {
        font-size: 1.5rem;
    }
    .together p, .customer-services p, .shopping-guid p {
        font-size: 1.6rem;
    }
    .join-section-footer {
        width: 30%;
        display: flex;
        flex-direction: column;
        transform: translateY(-4.5rem);
    }
    .room-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .socialnet-footer {
        justify-content: space-around;
    }
    .socialnet-footer h4 {
        display: none;
    }
    .appdownload-more {
        display: none;
    }
    .appdownload-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 0;
    }
    .appdownload-content img {
        margin-left: 6rem;
    }
    .appdownload-title img {
        width: 44px;
    }
    .appdownload-title h3 {
        font-size: 1.8rem;
    }
    .footer-description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
    }
    .description {
        width: 60%;
    }
    .description h1 {
        font-size: 1.5rem;
    }
    .description p {
        font-size: 1.3rem;
    }
    .enemad img {
        margin-right: 1rem;
        width: 105px;
    }
}